.header {
    box-sizing: border-box;
    padding: 20px;
    text-align: right;
    background: #1abc9c;
    color: white;
    font-size: 20px;
    height: 50px;
    -webkit-user-select: none;
}

.register {
    margin-right: 17px;
    cursor: pointer;
}

.login {
    margin-left: 17px;
    cursor: pointer;
}